
@import "bootstrap";

#html CSS styling

body {
background: image_url('hero_cliff.jpg')
}

.navbar {
  // color: #5FA0C0;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  background: image_url('cork-wallet.png');
  box-shadow: 0px 1px 3px #2a2a2a;
  letter-spacing: -0.3px;
}

.navbar-inverse a.navbar-brand {
  color: #F7EF75;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  letter-spacing: -0.3px;
  color: gold;
}

.hero {

  background: image_url('hero_cliff.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 800px;
}
